*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: rgb(65, 9, 114);
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 5px;
    background-color: rgb(205, 175, 231);
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(130, 110, 110);
    padding: 1rem;
}
legend {
   padding: 0.5rem;
   color: rgb(34, 4, 60);
   font-size: 1.4rem;
   display: block;
   text-align: center;
}
label,
input,
button,
select,
textarea {
    font-family:italic serif;
    font-size: 1.2rem;
    color: rgb(8, 1, 14);
}
label {
    text-align: right;
    padding-right: 1rem;
}
input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {
    background-color: rgb(66, 6, 118);
    color: rgb(237, 199, 245);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(65, 9, 114);
    color: white;
}
body {
    font-family: "Barlow", sans-serif;
    font-size: 1.2rem;
    color: rgb(8, 1, 14);
    background: rgb(226, 194, 194);
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(205, 175, 231);
    color: rgb(8, 1, 14);
    font-size: 1.2rem;
    border-top: 1px solid rgb(130, 110, 110);
}
