:root {
    --main-bg-color: rgb(188, 122, 84);
    --main-text-color: #0b33b6;
    --main-link-color: #3a9494;
    --main-link-hover-color: #2f87b3;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}
a {
    text-decoration: none;
}

body {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    text-align: center;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: barlow, sans-serif;
}

.hero-image {
    background-image: url("../images/heroone.jpg");
    background-color: var(--main-bg-color);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    color: white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
    color: var(--main-text-color);
    background-color: rgba(188, 122, 84, 0.8);
    padding: 15px;
}

h1 {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    position:relative;
}

nav a {
    color: var(--main-text-color);
    display: block;
    padding: 20px;
}

nav {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

.social {
    display: flex;
    justify-content: right;
    margin: 10px;
}

footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 20px;
    text-align: center;
}