:root {
    --main-bg-color: #cc7543;
    --main-text-color: #0038F1;
    --main-link-color: #3a9494;
    --main-link-hover-color: #2f87b3;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}
a {
    text-decoration: none;
}
h1 {
    font-family: "barlow", sans-serif;
    font-display: var(--main-text-color);
    font-weight: 500;
  
}
header {
    background-color: var(--main-bg-color);
    padding: 5px;
    text-decoration: none;
}
section {
    padding: var(--padding);
    text-align: center;
}
article {
    padding: var(--padding);
    text-align: center;
}
nav {
    background-color: var(--main-bg-color);
    padding: 5px;
    text-decoration: none;
}