*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
   padding: 0;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(123, 84, 84);
    padding: 1px;
    background-color: rgb(210, 161, 161);
    color: rgb(51, 51, 51);
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgb(210, 161, 161);
    padding: 1rem;
    background-color: rgb(123, 84, 84);
    color: rgb(51, 51, 51);
}
aside {
    width: 20rem;
    text-align: center;
}
ul {
    

}